.container{
    margin-top: 10px;
    background-color: goldenrod;
    cursor: pointer;
}
.container div{
    text-align: center;
    /*font-size: 20px;*/
    padding-bottom: 5px;
    padding-top: 5px;
}
.time{
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid gainsboro;
}
.temperature {
font-size: 40px;
    align-self: center;
    font-weight: bolder;
}
.icon{
    display: flex;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid gainsboro;
}
.feels{
    background-color: #e6bc53;
    border-top: 1px solid #bd972e;
    border-bottom: 1px solid #bd972e;
}
.chanceOfSnow{
    border-top: 1px solid #bd972e;
}
.cloud{
    background-color: #e6bc53;
}
.chanceOfRain{
    border-top: 1px solid #bd972e;
}