.container {
    background-size: 100%;
    background-image:url("../../assets/zemlya_iz_kosmosa-1920x1152.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}
.container div{
    color:wheat;
}
.name {
    font-size: 35px;
    font-weight: bold;
}

.temp {
    font-size: 28px;
    font-weight: bolder;
}

.description {
    font-size: 20px;
    font-weight: 600;
}

.feelsLike {
    font-weight: 600;
}