.App{

    /*background-color: mediumturquoise;*/
    /*background-size: 100%;*/
    /*background-image:url("../assets/abstraktnye_cvetnye_oblaka-2560x1440.jpg");*/
    /*background-repeat: no-repeat;*/
/*padding-bottom: 10px;*/

}
.search{
    display: flex;
    justify-content: space-around;
    margin: 0 1%;
    /*height: 60px;*/
}
.city{
    color: #e6bc53;
    align-self:center;
    font-size:25px;
    font-weight:bold;
    text-transform:uppercase;
}
.forecast{
    align-self: center;
}