.container {
    background-size: 100%;
    background-image: url("../../assets/bereg_morya_vecherom_na_zakate-2880x1901.jpg");
    background-repeat: no-repeat;
    height: 86.5vh;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}